<div class="container">
  <h1>Welcome to Bitly Jr!!</h1>
  <p>Enter the url you would like to shorten</p>
  
   <form class="cf" action="/urls" method="post">
    <div class ="row">
      <label for="input_box">Your Url</label>
      <input id="input_box" type="text" name="long" placeholder="">
    </div>
    <div class ="row">
      <input id="submit_button" type="Submit">
    </div>
  </form>

  <div>
    <%=@error%>
  </div>
  
</div>
